@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

:root {
    --lightBackground: #FFFFFF;
    --text: rgb(0, 0, 0, 0.6);
}

[data-theme="dark"] {
    --background: #444444;
}

* {
    transition: 0.5s;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #FFFAF3;
    color: var(--text);
}


/* Outer Container */

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.contentContainer {
    flex: 1;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}



/* Sidebar */

.sidebarBackground {
    display: none;
}

.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--lightBackground);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.01),
        2px 0px 6px rgba(0, 0, 0, 0.02),
        4px 0px 12px rgba(0, 0, 0, 0.04);
}

.sidebarContent {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebar .copyright {
    font-size: 14px;
    margin: 8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.sidebar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px;
}


.sidebar .logo .icon {
    color: rgb(250, 135, 0);
    font-size: 32px;
    margin: 8px;
}

.sidebar .logo .text {
    font-size: 26px;
    font-weight: 800;
    margin: 8px;
}

.sidebar .menuOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 18px 32px;
}

.sidebar .menuOptions .menuOption {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    margin: 2px;
    padding: 4px 24px;
    font-weight: 500;
    border-radius: 12px;
}


.sidebar .menuOptions .menuOption .icon {
    width: 32px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin: 4px;
    text-align: center;
    align-items: center;
}


.sidebar .menuOptions .menuOption .text {
    font-size: 16px;
    margin: 4px;
}


.sidebar .menuOptions .active {
    background-color: rgba(250, 135, 0, 0.2);
    color: rgb(250, 135, 0);
    font-weight: 700;
    padding: 6px 24px;
}


.sidebar .menuOptions .menuOption:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text);
}

.sidebar .profile {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 20px;
}

.sidebar .profile .profilePicture {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}


.sidebar .profile .profilePicture .psudoProfilePicture {
    width: 100%;
    text-align: center;
    line-height: 46px;
    font-size: 26px;
    font-weight: 700;
}


.sidebar .profile .profileDetails {
    flex: 1;
    margin: 8px;
}


.sidebar .profile .profileDetails .name {
    font-weight: 700;
    font-size: 15px;
}

.sidebar .profile .profileDetails .level {
    color: rgb(250, 135, 0);
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.sidebar .profile .profileDetails .level .icon {
    font-size: 16px;
    margin-right: 6px;
}

.sidebar .profile .moreOptionsButton {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .profile .moreOptionsButton .icon {
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}


.sidebar .moreOptions {
    position: relative;
    display: inline-block;
}

.sidebar .moreOptions .moreOptionsContent {
    display: none;
    position: absolute;
    background-color: #EFEFEF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0;
    bottom: 28px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.sidebar .moreOptions .moreOptionsContent .option {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sidebar .moreOptions .moreOptionsContent .option .icon {
    width: 20px;
    font-size: 16px;
    text-align: center;
    margin: 4px;
}

.sidebar .moreOptions .moreOptionsContent .option .text {
    margin: 4px;
    font-weight: 500;
    font-size: 15px;
}


.sidebar .moreOptions .moreOptionsContent .option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .moreOptions:hover .moreOptionsContent {
    display: block;
}

.sidebar .moreOptions:hover .moreOptionsButton {
    background-color: rgba(0, 0, 0, 0.1);
}



/* Top Header */

.header,
.headerAlt {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 250, 243, 0.9);
    z-index: 10;
    backdrop-filter: blur(10px);
}

.headerAlt {
    justify-content: left;
    padding: 10px 16px;
}

.header .mobileViewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .titleButtonContainer {
    display: flex;
    align-items: center;
}

.header .menuButton,
.header .secondaryMenuButton {
    margin: 4px 8px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
}

.header .titleContainer .title {
    font-size: 26px;
    font-weight: 700;
    margin: 4px 12px;
}

.headerAlt .titleContainer .title {
    font-size: 20px;
    font-weight: 700;
    margin: 4px 12px;
}

.headerAlt .backButton {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 20px;
    cursor: pointer;
}

.headerAlt .backButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.header .iconContainer .iconButton {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--lightBackground);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}


.header .iconContainer .iconButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}



.header .iconContainer .iconButton .count {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(250, 135, 0);
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .iconContainer .searchBox {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    border-radius: 30px;
    margin: 4px;
}


.header .iconContainer .searchBox .icon {
    font-size: 16px;
    margin: 4px;
}

.header .iconContainer .searchBox input {
    margin: 4px 8px;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
}




/* Tabs */

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.tabs .tab {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 10px;
    flex: 1;
    margin: 8px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.tabs .tabActive {
    background-color: rgb(250, 135, 0, 0.2);
    color: rgb(240, 110, 0);
    border: 1px solid rgb(250, 135, 0);
    font-weight: 700;
    cursor: default;
}

.tabs .tab:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tabs .tabActive:hover {
    background-color: rgb(250, 135, 0, 0.2);
}


/* Filter */

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 14px;
}

.filterContainer .filters {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 4px;
}

.filterContainer .filterButton {
    display: flex;
    margin-right: 8px;
}


.filterContainer .filters .icon {
    font-size: 20px;
    margin: 2px 4px;
}

.filterContainer .filters .title {
    margin: 2px 4px;
    font-size: 15px;
    font-weight: 600;
}

.filterContainer .filters .selectMainContainer {
    display: flex;
    flex: 1;
}

.filterContainer .filters .selectContainer {
    position: relative;
}

.filterContainer .filters select {
    background-color: rgb(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 6px 12px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: none;
    appearance: none;
    margin: 4px;
    cursor: pointer;
}


.filterContainer .filters select:hover {
    background-color: rgb(0, 0, 0, 0.15);
}

.filterContainer .filters .selectContainer .downIcon {
    font-size: 16px;
    top: 12px;
    right: 13px;
    position: absolute;
    pointer-events: none;
}

.filterContainer .views {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 4px;
}

.filterContainer .views .viewIcon {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2px 4px;
    font-size: 18px;
    cursor: pointer;
}


.filterContainer .views .viewIcon:hover {
    background-color: rgb(0, 0, 0, 0.1);
}


.filterContainer .views .activeIcon {
    background-color: rgb(255, 255, 255, 0.8);
    border: 3px solid rgba(250, 135, 0);
    color: rgb(250, 135, 0);
}

.filterContainer .views .activeIcon:hover {
    background-color: rgb(255, 255, 255, 0.8);
    cursor: default;
}

.filterContainer .views .button {
    background-color: rgb(250, 135, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 4px 12px;
    border-radius: 8px;
    margin: 2px 4px;
}

.filterContainer .views .button .icon {
    font-size: 18px;
    margin: 4px;
}

.filterContainer .views .button .text {
    font-size: 15px;
    font-weight: 700;
    margin: 4px 6px;
}


.filterContainer .views .button:hover {
    background-color: rgb(240, 110, 0);
}


/* Cards */

.cardContainer {
    display: flex;
    padding: 10px 12px;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    text-align: left;
    display: flex;
    align-items: center;
    background-color: var(--lightBackground);
    border-radius: 16px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.01),
        0px 2px 6px rgba(0, 0, 0, 0.02),
        0px 4px 12px rgba(0, 0, 0, 0.04);

}

.card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
        0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 4px 12px rgba(0, 0, 0, 0.08);
}

.card .previewImage,
.card .psudoPreviewImage {
    margin: 4px;
    width: 280px;
    min-width: 240px;
    min-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card .psudoPreviewImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 135, 0, 0.4);
    color: rgb(250, 135, 0, 0.6);
    font-size: 80px;
}


.card .previewImgae img {
    object-fit: cover;
}

.card .details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 4px 12px;
}



.card .details .cardContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .details .cardContentContainer .titleContainer {
    flex: 1;
}

.card .details .title {
    font-size: 20px;
    line-height: 130%;
    font-weight: 700;
    margin: 8px 4px;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .details .tags {
    margin: 8px 0;
}

.card .details .orangeTag {
    display: inline;
    background-color: rgb(250, 135, 0, 0.2);
    color: rgb(240, 110, 0);
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 600;
    margin: 4px;
}

.card .details .grayTag {
    display: inline;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 600;
    margin: 4px;
}

.card .details .description {
    font-size: 15px;
    font-weight: 500;
    display: -webkit-box;
    line-clamp: 2;
    /* Number of lines */
    -webkit-line-clamp: 2;
    /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px;
}


.card .details hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 4px;
}



.card .details .author {
    display: flex;
    align-items: center;
    margin: 2px;
}

.card .details .author .profilePicture {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 2px 4px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}




.card .details .author .profilePicture .psudoProfilePicture {
    font-size: 16px;
    font-weight: 700;
}

.card .details .author .profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details .author .createdBy {
    font-size: 13px;
    color: rgb(250, 135, 0);
    font-weight: 600;
    margin: 0px 4px;
}

.card .details .author .nameContainer {
    display: flex;
}






.card .details .author .name {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 4px;
}

.card .informationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .informationContainer hr {
    width: calc(100% - 8px);

}





.card .informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4px;
}


.card .information .icon {
    font-size: 15px;
    margin: 4px;
    color: rgba(250, 135, 0);
}

.card .information .text {
    font-size: 14px;
    margin: 2px;
    font-weight: 600;
}

.card .voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}


.card .voting .count {
    width: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0;
}

.card .voting .button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 135, 0, 0.2);
    border: 1px solid rgba(250, 135, 0);
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(250, 135, 0);
}

.card .voting .active {
    width: 26px;
    height: 26px;
    background-color: rgb(250, 135, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}


.card .voting .button:hover {
    background-color: rgba(250, 135, 0, 0.4);
    color: rgb(240, 110, 0);
}


.listBox {
    flex: 0 0 calc(100% - 16px);
}

.listBox .gridOnly {
    display: none;
}

.gridBox {
    flex: 0 0 calc(33.33% - 16px);
    flex-direction: column;
    display: inline-block;
}

.gridBox .previewImage,
.gridBox .psudoPreviewImage {
    height: 180px;
    width: calc(100% - 8px);
    flex: 1;
}

.gridBox .details {
    flex: 1;
    margin: 4px 8px;
}

.gridBox .details .title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.gridBox .details .cardContentContainer {
    height: 150px;
}


.gridBox .details .author .profilePicture {
    width: 36px;
    height: 36px;
}

.gridBox .details .author .nameContainer {
    flex-direction: column;
}


.gridBox .details hr {
    margin: 8px 4px;
}


.gridBox .informationContainer {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.gridBox .listOnly {
    display: none;
}



/* Form Box */

.formBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: var(--lightBackground);
    border-radius: 16px;
    padding: 16px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.01),
        0px 3px 6px rgba(0, 0, 0, 0.02),
        0px 6px 12px rgba(0, 0, 0, 0.04);
}

.formBox .title {
    font-size: 22px;
    font-weight: 700;
    margin: 4px 10px;
}

.formBox .multipleLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formBox label {
    margin: 4px 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.formBox label .name {
    font-size: 15px;
    margin: 4px 8px;
    font-weight: 500;
}

.formBox input[type="text"],
.formBox input[type="email"],
.formBox input[type="password"],
.formBox input[type="number"],
.formBox input[type="date"],
.formBox input[type="time"],
.formBox input[type="datetime-local"],
.formBox input[type="search"],
.formBox textarea,
.formBox select {
    margin: 2px;
    padding: 8px 14px;
    font-size: 15px;
    font-size: 500;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.04);
}

.formBox .uploadContainer {
    margin: 2px;
    padding: 12px;
    font-size: 15px;
    font-size: 500;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBox .uploadContainer .upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px;
}

.formBox .uploadContainer .upload .icon {
    font-size: 80px;
    margin: 2px 4px;
}

.formBox .uploadContainer .upload .title {
    font-size: 18px;
    font-weight: 700;
    margin: 2px 4px;
}

.formBox .uploadContainer .upload .semiTitle {
    font-size: 15px;
    margin: 2px 4px;
}

.formBox .uploadContainer .upload input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
}

.formBox .uploadContainer .preview {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.formBox .uploadContainer .preview img {
    border-radius: 8px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.formBox .uploadContainer .preview .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    cursor: pointer;
}

.formBox .uploadContainer .preview .delete:hover {
    background-color: rgb(255, 255, 255, 1.0);

}

.formBox .submit {
    background-color: rgb(250, 135, 0);
    color: #FFFFFF;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 4px;
    margin-top: 12px;
    cursor: pointer;
}


.formBox .submit:hover {
    background-color: rgb(240, 110, 0);
}


/* AI */

.messageContainer {
    display: flex;
    height: calc(100dvh - 205px);
    flex-direction: column-reverse;
    margin: 0;
    padding: 18px;
    overflow: auto;
}

.messageContainer .message {
    display: inline-block;
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 500;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 8px;
    margin-right: auto;
}

.messageContainer .self {
    background-color: rgb(250, 135, 0, 0.8);
    color: #FFFFFF;
    margin-right: 8px;
    margin-left: auto;
}

.messageSendBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    background-color: var(--lightBackground);
    border-radius: 16px;
    margin: 18px;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.01),
        0px 3px 6px rgba(0, 0, 0, 0.02),
        0px 6px 12px rgba(0, 0, 0, 0.04);
}

.messageSendBox .buttonContainer {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
}

.messageSendBox .buttonContainer .attachButtons {
    display: flex;
}

.messageSendBox .buttonContainer .attachButton {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
}


.messageSendBox .buttonContainer .attachButton:hover {
    background-color: rgb(0, 0, 0, 0.2);
}


.messageSendBox .buttonContainer .sendButton {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 135, 0);
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    font-size: 15px;
    padding: 4px 12px;
}

.messageSendBox .buttonContainer .sendButton .icon {
    margin: 2px 4px;
    font-size: 16px;
}

.messageSendBox .buttonContainer .sendButton .text {
    margin: 2px 6px;
    font-weight: 700;
}

.messageSendBox textarea {
    width: 100%;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    border: 0;
    outline: 0;
}


/* Blog Box */

.blogBox {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--lightBackground);
    border-radius: 16px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.01),
        0px 3px 6px rgba(0, 0, 0, 0.02),
        0px 6px 12px rgba(0, 0, 0, 0.04);
}


.blogBox .previewImage,
.blogBox .psudoPreviewImage {
    width: calc(100% - 8px);
    margin: 4px;
    margin-bottom: 8px;
    height: 320px;
    min-height: 320px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.blogBox .psudoPreviewImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 135, 0, 0.4);
    color: rgb(250, 135, 0, 0.6);
    font-size: 160px;
}


.blogBox .previewImgae img {
    object-fit: cover;
}

.blogBox .details {
    display: flex;
    flex: 1;
    margin: 4px 8px;
    align-items: center;
    justify-content: space-between;
}


.blogBox .details .titleContainer {
    flex: 1;
}

.blogBox .details .title {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    margin: 8px 4px;
    display: -webkit-box;
    line-clamp: 2;
    /* Number of lines */
    -webkit-line-clamp: 2;
    /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 18px;
}

.blogBox .details .tags {
    margin: 12px 0;
}

.blogBox .details .orangeTag {
    display: inline;
    background-color: rgb(250, 135, 0, 0.2);
    color: rgb(240, 110, 0);
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
    margin: 4px;
}

.blogBox .details .grayTag {
    display: inline;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
    margin: 4px;
}


.blogBox .voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}


.blogBox .voting .count {
    width: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0;
}

.blogBox .voting .button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 135, 0, 0.2);
    border: 1px solid rgba(250, 135, 0);
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(250, 135, 0);
}

.blogBox .voting .active {
    width: 26px;
    height: 26px;
    background-color: rgb(250, 135, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}


.blogBox .voting .button:hover {
    background-color: rgba(250, 135, 0, 0.4);
    color: rgb(240, 110, 0);
}

.blogBox hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 8px auto;
    width: calc(100% - 24px);
}



.blogBox .author {
    display: flex;
    align-items: center;
    margin: 2px;
}

.blogBox .author .profilePicture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 2px 4px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogBox .author .profilePicture .psudoProfilePicture {
    font-size: 18px;
    font-weight: 700;
}

.blogBox .author .profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogBox .author .createdBy {
    font-size: 14px;
    color: rgb(250, 135, 0);
    font-weight: 600;
    margin: 0px 4px;
}

.blogBox .author .nameContainer {
    display: flex;
    flex-direction: column;
}

.blogBox .author .name {
    font-size: 16px;
    font-weight: 700;
    margin: 0px 4px;
}

.blogBox .informationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4px 8px;
}

.blogBox .informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blogBox .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4px;
}


.blogBox .information .icon {
    font-size: 18px;
    margin: 4px;
    color: rgba(250, 135, 0);
}

.blogBox .information .text {
    font-size: 15px;
    margin: 4px;
    font-weight: 600;
}

.blogBox .content {
    padding: 10px 14px;
}



/* New Button */

.newButton {
    position: fixed;
    right: 24px;
    bottom: 24px;
    background-color: rgb(250, 135, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 10px 14px;
    border-radius: 12px;
    margin: 2px 4px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.01),
        2px 4px 4px rgba(0, 0, 0, 0.04),
        4px 8px 8px rgba(0, 0, 0, 0.08);

}

.newButton:hover {
    background-color: rgb(240, 110, 0);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.02),
        2px 4px 4px rgba(0, 0, 0, 0.08),
        4px 8px 8px rgba(0, 0, 0, 0.12);
}

.newButton .icon {
    font-size: 20px;
    margin: 4px 6px;
}

.newButton .text {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 6px;
}

.bigSpacing {
    height: 80px;
}

.menuButton,
.secondaryMenuButton {
    display: none;
}


@media (max-width: 1300px) {
    .gridBox {
        flex: 0 0 calc(50% - 16px);
    }
}

@media (max-width: 1150px) {
    .menuButton {
        display: block;
    }

    .sidebarBackground {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 998;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 999;
        box-shadow: none;
        height: 100dvh;
    }

    .activeSidebar {
        left: 0;
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.01),
            2px 0px 6px rgba(0, 0, 0, 0.02),
            4px 0px 12px rgba(0, 0, 0, 0.04);
    }
}

@media (max-width: 850px) {
    .nameContainer {
        flex-direction: column;
    }

    .formBox .multipleLabel {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
}

@media (max-width: 700px) {
    .filterContainer .filters .selectMainContainer {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        opacity: 0;
    }
    
    .filterContainer .filters .activeSelectMainContainer {
        height: auto;
        opacity: 1;
    }

    .filterContainer .filters select{
        width: calc(100% - 8px);
    }

    .filterContainer .views {
        display: none;
    }
    .filterContainer .filterButton {
        background-color: rgb(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 4px 8px;
    }
    .card {
        flex: 0 0 calc(50% - 16px);
        flex-direction: column;
        display: inline-block;
    }

    .card .previewImage,
    .card .psudoPreviewImage {
        height: 180px;
        width: calc(100% - 8px);
        flex: 1;
    }

    .card .details {
        flex: 1;
        margin: 4px 8px;
    }

    .card .details .title {
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    .card .details .cardContentContainer {
        height: 150px;
    }

    .card .details .author .profilePicture {
        width: 36px;
        height: 36px;
    }

    .card .details hr {
        margin: 8px 4px;
    }

    .card .informationContainer {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .card .gridOnly {
        display: block;
    }
}

@media (max-width: 600px) {
    .card, .gridBox {
        flex: 0 0 calc(100% - 16px);
    }

    .secondaryMenuButton {
        display: block;
    }

    .header {
        flex-direction: column;
    }

    .header .mobileViewContainer {
        width: 100%;
    }

    .header .iconContainer {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .header .active {
        margin-top: 8px;
        height: 50px;
        opacity: 1;
    }

    .header .rotate {
        transform: rotate(180deg);
    }

    .header .iconContainer .searchBox {
        flex: 1;
    }
}